<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <springProperty scope="context" name="OPENSEARCH_ENV"           source="opensearch.env"                          defaultValue="local"/>
    <springProperty scope="context" name="OPENSEARCH_NAME"          source="opensearch.name"                         defaultValue="app"/>
    <springProperty scope="context" name="OPENSEARCH_URL"            source="opensearch.url"                          defaultValue="https://localhost:9200"/>
    <springProperty scope="context" name="OPENSEARCH_USER"          source="opensearch.username"                     defaultValue="admin"/>
    <springProperty scope="context" name="OPENSEARCH_PASS"          source="opensearch.password"                     defaultValue=""/>
    <springProperty scope="context" name="OPENSEARCH_MAX_BATCH_SIZE" source="opensearch.batch.max-size"              defaultValue="200"/>
    <springProperty scope="context" name="OPENSEARCH_MESSAGE_MAX_SIZE" source="opensearch.batch.max-message-size"    defaultValue="32768"/>
    <springProperty scope="context" name="OPENSEARCH_CONNECT_TIMEOUT" source="opensearch.connect-timeout-millis"      defaultValue="3000"/>
    <springProperty scope="context" name="OPENSEARCH_READ_TIMEOUT"  source="opensearch.read-timeout-millis"          defaultValue="5000"/>
    <springProperty scope="context" name="OPENSEARCH_MAX_RETRIES"   source="opensearch.max-retries"                  defaultValue="3"/>
    <springProperty scope="context" name="OPENSEARCH_REQUEUE_ON_FAILURE" source="opensearch.requeue-on-failure"          defaultValue="true"/>
    <springProperty scope="context" name="OPENSEARCH_TRUST_ALL_SSL" source="opensearch.trust-all-ssl"                defaultValue="true"/>
    <springProperty scope="context" name="OPENSEARCH_SLEEP_TIME" source="opensearch.sleep-time" defaultValue="250"/>
    <springProperty scope="context" name="OPENSEARCH_MAX_QUEUE_SIZE" source="opensearch.max-queue-size" defaultValue="104857600"/>
    <springProperty scope="context" name="OPENSEARCH_PERSISTENT_WRITER_THREAD" source="opensearch.persistent-writer-thread" defaultValue="false"/>
    <springProperty scope="context" name="OPENSEARCH_INCLUDE_MDC"   source="opensearch.include-mdc"                  defaultValue="true"/>
    <springProperty scope="context" name="OPENSEARCH_INCLUDE_KVP"   source="opensearch.include-kvp"                  defaultValue="true"/>
    <springProperty scope="context" name="OPENSEARCH_OPERATION"     source="opensearch.operation"                    defaultValue="index"/>
    <springProperty scope="context" name="OPENSEARCH_ERRORS_TO_STDERR" source="opensearch.errors-to-stderr"          defaultValue="true"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/%d{yyyyMMddHH}-${OPENSEARCH_NAME}.log</fileNamePattern>
            <maxHistory>168</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="OPENSEARCH" class="com.cube.simple.opensearch.OpenSearchAppender">
        <url>${OPENSEARCH_URL}</url>
        <index>logs-${OPENSEARCH_NAME}-%date{yyyy.MM.dd}</index>
        <operation>${OPENSEARCH_OPERATION}</operation>
        <authentication class="com.cube.simple.opensearch.OpenSearchBasicAuthentication">
            <username>${OPENSEARCH_USER}</username>
            <password>${OPENSEARCH_PASS}</password>
        </authentication>
        <maxBatchSize>${OPENSEARCH_MAX_BATCH_SIZE}</maxBatchSize>
        <maxMessageSize>${OPENSEARCH_MESSAGE_MAX_SIZE}</maxMessageSize>
        <sleepTime>${OPENSEARCH_SLEEP_TIME}</sleepTime>
        <maxQueueSize>${OPENSEARCH_MAX_QUEUE_SIZE}</maxQueueSize>
        <connectTimeout>${OPENSEARCH_CONNECT_TIMEOUT}</connectTimeout>
        <readTimeout>${OPENSEARCH_READ_TIMEOUT}</readTimeout>
        <maxRetries>${OPENSEARCH_MAX_RETRIES}</maxRetries>
        <requeueOnFailure>${OPENSEARCH_REQUEUE_ON_FAILURE}</requeueOnFailure>
        <trustAllSsl>${OPENSEARCH_TRUST_ALL_SSL}</trustAllSsl>
        <persistentWriterThread>${OPENSEARCH_PERSISTENT_WRITER_THREAD}</persistentWriterThread>
        <includeMdc>${OPENSEARCH_INCLUDE_MDC}</includeMdc>
        <includeKvp>${OPENSEARCH_INCLUDE_KVP}</includeKvp>
        <errorsToStderr>${OPENSEARCH_ERRORS_TO_STDERR}</errorsToStderr>

        <headers>
            <header>
                <name>Content-Type</name>
                <value>application/x-ndjson</value>
            </header>
        </headers>

        <properties>
            <esProperty>
                <name>app</name>
                <value>${OPENSEARCH_NAME}</value>
            </esProperty>
            <esProperty>
                <name>env</name>
                <value>${OPENSEARCH_ENV}</value>
            </esProperty>
            <esProperty>
                <name>stack_trace</name>
                <value>%ex{full}</value>
                <allowEmpty>false</allowEmpty>
            </esProperty>
        </properties>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="OPENSEARCH"/>
    </root>

</configuration>
