PORT=5002
JOB_SYSTEM_DELAY=3000
JOB_MANAGER_DELAY=15000
JOB_OPERATOR_DELAY=20000
JOB_RISKY_DELAY=60000

OPENSEARCH_URL=https://localhost:9200
OPENSEARCH_USERNAME=admin
OPENSEARCH_PASSWORD="Demo3543##"
OPENSEARCH_NAME=simple-jobs-python-fastapi
OPENSEARCH_ENV=local
OPENSEARCH_BATCH_MAX_BYTES=1000000
OPENSEARCH_BATCH_FLUSH_INTERVAL=1
OPENSEARCH_BATCH_QUEUE_SIZE=8192
