PORT=3013
JOB_SYSTEM_DELAY=3000
JOB_MANAGER_DELAY=15000
JOB_OPERATOR_DELAY=20000
JOB_RISKY_DELAY=60000
JOB_SLOW_DELAY=60000

API_MONITORING_P95_THRESHOLD_MS=800
API_MONITORING_P99_THRESHOLD_MS=1500
API_MONITORING_SLOW_QUERY_THRESHOLD_MS=1200

OPENSEARCH_URL=https://localhost:9200
OPENSEARCH_USERNAME=admin
OPENSEARCH_PASSWORD="Demo3543##"
OPENSEARCH_NAME=simple-jobs-node-fastify-with-mdc
OPENSEARCH_ENV=local
OPENSEARCH_BATCH_MAX_BYTES=1000000
OPENSEARCH_BATCH_FLUSH_INTERVAL=1
OPENSEARCH_BATCH_QUEUE_SIZE=8192
