PORT=5201

OPENSEARCH_URL=https://localhost:9200
OPENSEARCH_USERNAME=admin
OPENSEARCH_PASSWORD="Demo3543##"
OPENSEARCH_NAME=simple-rest-python-flask
OPENSEARCH_ENV=local
OPENSEARCH_BATCH_MAX_BYTES=1000000
OPENSEARCH_BATCH_FLUSH_INTERVAL=1
OPENSEARCH_BATCH_QUEUE_SIZE=8192
OPENSEARCH_BULK_OPERATION=create
OPENSEARCH_TRUST_ALL_SSL=true
OPENSEARCH_TIMEOUT=10
OPENSEARCH_MAX_RETRIES=3
OPENSEARCH_HEADERS={}
OPENSEARCH_PERSISTENT_WRITER_THREAD=true
