PORT=3202

OPENSEARCH_SCHEME=https
OPENSEARCH_HOST=localhost
OPENSEARCH_PORT=9200
OPENSEARCH_USERNAME=admin
OPENSEARCH_PASSWORD="Demo3543##"
OPENSEARCH_NAME=simple-rest-node-express
OPENSEARCH_ENV=local
OPENSEARCH_BATCH_MAX_BYTES=1000000
OPENSEARCH_BATCH_FLUSH_INTERVAL=1
OPENSEARCH_BATCH_QUEUE_SIZE=8192
